<a href="https://colab.research.google.com/github/WonJoonYong/python/blob/main/Python5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# p 116 for문

for n in[1,2,3]:
  print(n)

1
2
3

In [12]:
n = 1
while n in [1,2,3]:
  print(n)
  n +=1

1
2
3

In [13]:
# 반복가능객체 (컬렉션)
# 시퀀스 자료형 - 문자열 리스트 튜플 range
# 비시퀀스 자료형 - 셋 , 딕셔너리 (순서가 없다)

for ch in 'hello':
  print(ch)

h
e
l
l
o

In [14]:
for item in ['가위', '바위', '보']:
  print(item)

가위
바위
보

In [15]:
# for문과 tuple
for season in ('Spring', 'Summer', 'Autumn', 'Winter'):
  print(season)

Spring
Summer
Autumn
Winter

In [17]:
# for문과 range()

# range(5) # 0부터 5미만까지 = 4까지
# range(2,10) # 2부터 10미만 = 9까지

range(2, 10)

In [19]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [20]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for n in [1,2,3,4,5,6,7,8,9,10]:
  print(n)

In [22]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [23]:
# for문과 set
for item in{'가위', '바위', '보'}:
  print(item)

가위
보
바위

In [28]:
#for문과 딕셔너리

person ={
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item, person[item])

name 에밀리
age 20

In [34]:
n = int(input('임의의 양수를 입력하세요 >>>'))

sum = 0
for no in range(1,n+1):
  sum += no
print(sum)

임의의 양수를 입력하세요 >>>5
15

In [37]:
no = int(input('몇 개의 과일을 저장할까요? >>>'))

basket = []

for i in range(no):
  fruit = input(f'{i+1}번째 과일을 입력하세요 >>>')
  basket.append(fruit)

print(f'입력받은 과일들은 {basket}입니다.')

몇 개의 과일을 저장할까요? >>>5
1번째 과일을 입력하세요 >>>사과
2번째 과일을 입력하세요 >>>포도
3번째 과일을 입력하세요 >>>바나나
4번째 과일을 입력하세요 >>>망고
5번째 과일을 입력하세요 >>>오렌지
입력받은 과일들은 ['사과', '포도', '바나나', '망고', '오렌지']입니다.

In [41]:
n = 1
while n <= 10:
  print(n)
  
  n+=1

1

In [44]:
n = 1
while True:
  print(n)
  if n==10:
    break
  n+=1

1
2
3
4
5
6
7
8
9
10

In [49]:
# p 138 continue

total = 0;
for a in range(1, 101):
  if a % 3 == 0:
    continue
  total += a

print(total)

3367

In [53]:
total = 0
for a in range(1, 101):
  if a % 3 == 0:
    continue
  total +=a

print(total)

3367

In [54]:


coin = 10000
while True:
  print(f'현재 {coin}원이 있습니다.')

  if coin ==0:
    break

  pay = int(input('사용할 금액 입력 >>>'))

  if pay <= 0:
    print('0이하의 금액은 사용할 수 없습니다.')
  elif pay > coin:
    print(f'{pay-coin}원이 부족합니다.')
  else:
    coin -= pay

현재 10000원이 있습니다.
사용할 금액 입력 >>>5000
현재 5000원이 있습니다.
사용할 금액 입력 >>>1000
현재 4000원이 있습니다.
사용할 금액 입력 >>>4000
현재 0원이 있습니다.

In [ ]:
while True:


  score = int(input('이번 영화의 평점을 입력하세요 >>>'))



  if score > 5 or score <= 0:
    print('평점은 1~5 사이만 입력할 수 있습니다')

  else:
    print(f'평점 :', 'ㅁ' * score)
    break

In [84]:
pw = 'qwerty'

no = 1

while True:
    pa = input('비밀번호를 입력하세요')

    if pw == pa:
      print('비밀번호를 맞혔습니다')
      5break
  
    if no == 5:
      print('비밀번호 입력 횟수를 초과했습니다')
      break

    no +=1

비밀번호를 입력하세요1
비밀번호를 입력하세요2
비밀번호를 입력하세요3
비밀번호를 입력하세요4
비밀번호를 입력하세요
비밀번호 입력 횟수를 초과했습니다

In [ ]:
#continue break

for i in range(2, 10):
  if i % 2== 0:
    continue
  for j in range(1, 10):
    if j > i:
      break
    print(f'{i} * {j} = {i*j}')
  print()

In [91]:
for item in enumerate(['가위', '바위', '보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [94]:
for idx, item in enumerate(['가위', '바위', '보']):
  print(idx + 1, item)

1 가위
2 바위
3 보

In [95]:
# zip()

names = ['james', 'emily', 'amanda']
scores = [60,70,80]

for student in zip(names,scores):
  print(student)

('james', 60)
('emily', 70)
('amanda', 80)

In [97]:
names = ['james', 'emily', 'amanda']
scores = [60,70,80]

for name, scores in zip(names,scores):
  print(f'{name}의 점수는 {scores}점입니다.')

james의 점수는 60점입니다.
emily의 점수는 70점입니다.
amanda의 점수는 80점입니다.

In [ ]:
# 184 사용자 함수

# def 함수명(변수) : 
#   본문
#   return 결과

In [ ]:
# 1 인수 없고 반환 없는 사용자 정의 함수
# 2 인수 있고 반환 없는 사용자 정의 함수
# 3 인수 없고 반환 있는 사용자 정의 함수
# 4 인수 있고 반환 있는 사용자 정의 함수

In [98]:
# 1 인수 없고 반환 없는 사용자 정의 함수

def welcome():
  print('Hello World')

welcome()

Hello World

In [99]:
# 2 인수 있고 반환 없는 사용자 정의 함수
def welcome(name):
  print('Hello ', name)

welcome('Austin')

Hello  Austin

In [101]:
# 3 인수 없고 반환 있는 사용자 정의 함수

def welcome():
  return 1

welcome()

1

In [102]:
# 4 인수 있고 반환 있는 사용자 정의 함수

def add(a,b):
  return a+b

add(3,4)

7

In [104]:
def introduce(name,age):
  print(f'내이름은 {name} 이고, 나이는 {age}살입니다.')

introduce('james', 25)

내이름은 james 이고, 나이는 25살입니다.

In [114]:
# 가변 매개변수

def add2(a,b):
  return a+b
def add3(a,b,c):
  return a+b+c

add2(3,4)


del sum


def add(*args):
  print(f'{sum(args)}입니다')

add (1,2,3,4,5)

15입니다

In [111]:
# 디폴트 매개변수
def greet(message='안녕하세요'):
  print(message)

greet( )

안녕하세요

In [112]:
greet('방가방가')

방가방가