<a href="https://colab.research.google.com/github/WonJoonYong/python/blob/main/python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# 컬렉션

# 모음 여러 값을 하나의 이름으로 묶어서 관리하는 자료형

# 리스트 (제일중요)  [] 추가/수정/삭제 가능 mutable         인덱싱 슬라이싱 가능
# 튜플               () 추가/수정/삭제 불가능 immutable     인덱싱 슬라이싱 가능
# 딕셔너리           {} 추가/수정/삭제 가능 mutable   바꿀수없는      인덱싱 슬라이싱 불가능
# 셋                 {} 추가/수정/삭제 가능 mutable         인덱싱 슬라이싱 불가능


# 리스트 - 가장 많이 사용하는 자료형이다. 자료형이 다른 데이터들도 함께 저장할 수 있다

li1 = [1,2,3,4]
print(li1)

li2 = [2, 3.14, 'hello']
print(li2)

[1, 2, 3, 4]
[2, 3.14, 'hello']

In [20]:
li = [2, 3.14, 'hello']
li[0]

2

In [21]:
# (start, stop, step)

li = [2, 3.14, 'hello']
li[0:2]

[2, 3.14]

In [22]:
scores = [50,40,30,]

scores.append(80)
scores

scores.insert(0,100)
scores

[100, 50, 40, 30, 80]

In [23]:
scores.pop() # 끝에서 부터 하나씩 삭제

80

In [24]:
scores.pop(0)

100

In [25]:
scores

[50, 40, 30]

In [26]:
#튜플 한마디로 표현하면 수정할 수 없는 리스트
# 괄호생략가능

tu1= (1,2,3)
print(tu1)
print(type(tu1))

tu2 = 2,3,4
print(tu2)
print(type(tu2))

tu3 = 2,3.14,4, '문자'
print(tu3)
print(type(tu3))

(1, 2, 3)
<class 'tuple'>
(2, 3, 4)
<class 'tuple'>
(2, 3.14, 4, '문자')
<class 'tuple'>

In [27]:
tu = (10,20,30,40,50)
tu[0:3]

(10, 20, 30)

In [28]:
set = {1,2,3}
print(type(set))
print(set)

<class 'set'>
{1, 2, 3}

In [29]:
set = {1,2,3,2,3}
print(type(set))
print(set)

<class 'set'>
{1, 2, 3}

In [30]:
set.add(4)
set

{1, 2, 3, 4}

In [31]:
set.remove(3)

In [32]:
set

{1, 2, 4}

In [ ]:
#딕셔너리 : 키와 밸류 한 쌍으로 구성된 자료형이다
dict = {'a':'apple', 'b':'banana'}

print(dict)
print(type(dict))

In [33]:
dict['w']='watermelon'
print(dict)
print(type(dict))

{'a': 'apple', 'b': 'banana', 'w': 'watermelon'}
<class 'dict'>

In [34]:
dict.pop('a')
print(dict)
print(type(dict))

{'b': 'banana', 'w': 'watermelon'}
<class 'dict'>

In [37]:
me=[1,2,3] # 리스트
id(me)

140065648784480

In [41]:
me.append(4)
print(id(me))
print(me)

140065648784480
[1, 2, 3, 4, 4, 4, 4]

In [43]:
me=10    #정수
print(id(me))

94386377923360

In [44]:
me += 1
print(id(me))

94386377923392

In [46]:
me = [1,2,3]

you = me

print(id(me))
print(id(you))

140065648858128
140065648858128

In [48]:
you.append(4)

print(id(me))
print(id(you))
print(me)
print(you)

140065648858128
140065648858128
[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [77]:
no =  '서울2가1234'
no1= '10가1234'
no2 = '288가1234'

print(no,'의 차량번호 4자리는',no[-4:],'입니다')
print(no1,'의 차량번호 4자리는',no1[-4:],'입니다')
print(no2,'의 차량번호 4자리는',no2[-4:],'입니다')

서울2가1234 의 차량번호 4자리는 1234 입니다
10가1234 의 차량번호 4자리는 1234 입니다
288가1234 의 차량번호 4자리는 1234 입니다

In [81]:
s = 'maple'

print(s,'의 가운데 글자는',s[2],'입니다')

maple 의 가운데 글자는 p 입니다

In [94]:
li = [10,20,30,40,50,60,70,80,90,100]

print('3번째 요소부터 7번째요소 =',li[2:7])
print('3번째 요소부터 7번째요소 2번째 요소 =',li[2:7][1])

3번째 요소부터 7번째요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째요소 2번째 요소 = 40

In [97]:
dict = {'금요일' : '탕수육', '토요일': '유산슬', '일요일' : '팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [103]:
print('Hello \'world\'')
print('Hello \"world\"')
print('*\n**\n***')
print('이름\t연락처')
print('제시카\t02-123-1234')
print('마틴\t010-1234-1456')

Hello 'world'
Hello "world"
*
**
***
이름	연락처
제시카	02-123-1234
마틴	010-1234-1456

In [110]:
print('재미있는','파이썬', sep='')
print('Python','java','c,', sep='.')
print()
print('영화 타이타닉')
print('평점', end = ':')
print('5점')

재미있는파이썬
Python.java.c,

영화 타이타닉
평점:5점

In [116]:
# 인쇄 4가지 방법
# 1. 기본출력
# 2. %연산자출력
# 3. format()매서드
# 4. f string()

# %연산자출력

print('%d' % 100)
print('%d 원입니다.' % 100)

print('%f' %3.14)
print('%s' %3.14)

100
100 원입니다.
3.140000
3.14

In [120]:
print('%5d' %1)
print('%5d' %12)
print('%5d' %123)


print('%-5d' %1)
print('%-5d' %12)
print('%-5d' %123)

    1
   12
  123
1
12
123

In [137]:
# format()매소드
# % 연산자
print('My name is {} i\'m {} years old'. format('James', 25))

# 2 기본출력
name = 'James'
age=25
print('My name is', name,'i\'m',age +1 , 'years old')

# 3 format매서드
print('My name is %s i\'m %s years old' %('James', 25))

# 4 f string
print(f'My name is {name} i\'m {age} years old')

My name is James i'm 25 years old
My name is James i'm 26 years old
My name is James i'm 25 years old
My name is James i'm 25 years old

In [136]:
age = 25

print(f'내년엔{age+1}살이 됩니다')

내년엔26살이 됩니다