<a href="https://colab.research.google.com/github/WonJoonYong/python/blob/main/Python03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#조건문

# IF - 특정 조건을 만족하는지 여부에 따라 실행하는 코드가 달라져야 할때 사용된다

a=5

if a > 0:
 print('양수')

if True:
  print('양수')

In [5]:
# if - else

a = 6

if a>= 0:
  print('양수')
else:
  print('음수')

양수

In [7]:
age = int(input('몇살입니까?>>>'))
if age >=20:
  print('성인')
else:
  print('미성년자')

몇살입니까?>>>15
미성년자

In [12]:
# if - elif

important = 40
if important >= 100:
  print('상')
else:
  if important>= 50:
    print('중')
  else:
    print('하')

하

In [ ]:
if important >= 100:
  print('상')
elif important>= 50:
  print('중')
else:
  print('하')

In [13]:
score = 40

if score>=90:
  print('A')
elif score >=80:
  print('B')
elif score >=70:
  print('C')
elif score >=60:
  print('D')
else:
  print('F')

F

In [39]:
# score = int(input('점수를 입력하세요>>>'))

# if score >= 90:
#   print(f'점수는',score,'A학점입니다')
# elif score >= 80:
#   print(f'점수는',score,'B학점입니다')
# elif score >= 70:
#   print(f'점수는',score,'C학점입니다')
# elif score >= 60:
#   print(f'점수는',score,'D학점입니다')
# else:
#   print(f'점수는',score,'F학점입니다')




score = int(input('점수를 입력하세요>>>'))

if score >= 90:
   hak = 'A'
elif score >= 80:
   hak = 'B'
elif score >= 70:
   hak = 'C'
elif score >= 60:
   hak = 'D'
else:
  hak = 'F'

print(f'점수는 {score} 점이고, 학점은 {hak}학점입니다')

점수를 입력하세요>>>80
점수는 80 점이고, 학점은 B학점입니다

In [43]:
#2
num = int(input('정수를 입력하세요>>>'))

if num % 3==0:
  print(f'{num}는 3의 배수입니다.')
else:
  print(f'{num}는3의 배수가 아닙니다')

정수를 입력하세요>>>15
15는 3의 배수입니다.

In [47]:
no1 = int(input('정수1입력'))
no2 = int(input('정수2입력'))
no3 = int(input('정수3입력'))

if no1 > no2 and no2 > no3:
  result = no1
elif no3 > no2 and no2 > no1:
  result = no3
else:
  result = no2
print(f'가장큰수는{result}입니다.')

정수1 입력3
정수2 입력2
정수3 입력1

1

In [48]:
no1 = int(input('정수1입력'))
no2 = int(input('정수2입력'))
no3 = int(input('정수3입력'))

print(f'가장큰수는{max(no1,no2,no3)}입니다.')

정수1입력4
정수2입력8
정수3입력10
가장큰수는10입니다.

In [66]:
car = input('차량번호를 입력하세요>>>')

no = int(car[-1])


if no % 2==0:
  result = '운행가능'
else:
  result ='운행불가'
print(f'차량번호 {car}은 {result}입니다')


# car_num = input('차량번호를 입력하세요>>>')
# sl_num=int(car_num[-4:])
# if sl_num % 2 == 0:
#   result='운행가능'
# else:
#   result='운행 불가능'
# print(f'차량번호 {car_num}은 {result}입니다.' )

차량번호를 입력하세요>>>237가1235
차량번호237가1235은 운행불가입니다

In [ ]:
#반복문
#while  - 반복횟수를 정확히 모를 때,      해질때까지 운동장을 돌자
#for    - 반복횟수를 정확히 알 때 (*****) 운동장을 10바퀴 돌자

# while True:
#   print('hello python')

n= 1
while n<=10:
  print(f'{n} : hello')
  n+=1

In [71]:
n = 10
while n >= 1:
  print(n)
  n -=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
my_list = []

n=int(input('정수를 입력하세요(종료는0입니다.>>>'))

while n!=0:
  my_list.append(n)
  n=int(input('정수를 입력하세요(종료는0입니다. >>>'))

print(my_list)

In [ ]:
day = 1 
while day <= 5:
  
  hour = 1
  while hour <=3:
    print(day,'일차', hour,'교시')
    hour +=1
  day +=1

In [ ]:
dan = 2
while dan<=9:
  no = 1
  while no <=9:   
   print(f'{dan} * {no} = {dan*no}')
   no +=1
  dan +=1

In [ ]:
no = int(input('정수를 입력하세요>>>'))

if no <= 0:
  print('잘못된 입력입니다.')
else:
  i = 0
  while i < no:
    print(f'{no}번째 Hello')
    i += 1

In [139]:
n = 1
while n <= 100:
  if n % 7 == 0:   
    print(n) 
  n += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98